.calculator {
  width: 500px;
  background-color: $colour-header-body;
  border: 2px solid $colour-header-darker;
  border-radius: 10px 10px 0 0;

  .calc-body {
    background-color: $colour-body;
    width: 100%;
    height: 500px;
    border-left: 1px solid $colour-header-lighter;
    border-bottom: 1px solid $colour-header-lighter;
    border-right: 1px solid $colour-header-body;
    border-top: 1px solid $colour-header-body;
  }
}
