.calculator {
  width: 350px;
  background-color: $color-primary-body;
  border: 2px solid $color-primary-darker;
  border-radius: 10px 10px 0 0;

  .calc-body {
    background-color: $color-body;
    width: 100%;
    border-left: 1px solid $color-primary-lighter;
    border-bottom: 1px solid $color-primary-lighter;
    border-right: 1px solid $color-primary-body;
    border-top: 1px solid $color-primary-body;
  }

  .keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    margin: 5px 10px;
  }
  .keypad-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 5px;
    margin: 0 10px;
  }
}
