.calculator {
  width: 350px;
  height: 100%;
  background-color: $color-primary-body;
  border: 2px solid $color-primary-darker;
  border-radius: 10px 10px 0 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  .calc-body {
    background-color: $color-body;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 40px);
    border-left: 1px solid $color-primary-lighter;
    border-bottom: 1px solid $color-primary-lighter;
    border-right: 1px solid $color-primary-body;
    border-top: 1px solid $color-primary-body;
  }
  .calc-body-container {
    width: inherit;
  }
}
.maximize-window {
  width: 100vw;
  height: calc(100% - 0px);
}
.show {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
