.screen {
  border: 1px solid $color-body-border;
  background-color: white;
  width: calc(100% - 20px);
  min-height: 2.8em;
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: flex-end;
  word-break: break-all;

  .current {
    margin-top: 0.8em;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
  }

  .previous {
    position: absolute;
    z-index: 2;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    font-size: 0.7em;
    opacity: 0.6;
  }
}
.maximize-screen {
  height: 2.5em;
  font-size: 2.5em;
}
