.window-tab {
  display: flex;
  align-items: center;
  height: auto;
  width: 10em;
  margin-left: 1.5em;
  padding: 0 10px;
  background: $color-primary-gradient-lighter;
  border-left: 1px solid $color-primary-lighter;
  border-right: 1px solid $color-primary-body;
  border-radius: 5px;
  color: white;
  font-size: small;

  &:hover {
    cursor: pointer;
  }

  .icon {
    background-image: url("../../assets/images/calculatorIcon.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.window-tab-active {
  background: $color-primary-gradient-darker;
  border-right: 1px solid $color-primary-lighter;
  border-left: 1px solid $color-primary-body;
}
